extends layout

block variables
  - const websiteTitle = website.url.match(/https?:\/\/w*\.?([^\/?\#]+)/)[1]
  - const title = `${websiteTitle} | ${feed.title}`

block layout-content
    a.back-link(href=`/website/${website.id}`) &#8592; Back to website
    div.website-header(style="display: flex; gap: .4em; margin-left: 40px; align-items: center;")
        img(src=website.favicon_url, alt=websiteTitle, style='width: 1em; height: 1em;')
        h2 #{websiteTitle}
    div.wizard(style='font-family: Palatino, serif; ')
        div#wizard-header(style='display: flex; align-items: center; border-radius: 50%; width: max-content;')
            picture(style='width: 140px;')
                source(srcset='/img/wizard.avif', type='image/avif')
                source(srcset='/img/wizard.webp', type='image/webp')
                img(src='/img/wizard.png', alt='Wizard', width='300', height='378', style='width: 140px; height: auto; mix-blend-mode: darken;')
            p#wizard-message(style='width: 50%; margin-top: 3em; color: #424242;') Say hello to the website wizard! You may have landed here because we were unable to analyse your chosen website! Please help us by following the instructions below:
        ul.wizard-instructions(style='list-style: decimal; line-height: 1.5em;')
            //- li#post-instruction
            //-     div.instruction-color-indicator(style='background-color: black;')
            //-     | Select any post on the website
            li#title-instruction
                div.instruction-color-indicator(style='background-color: green;')
                | Select the title of a post
                button.skip-button(onclick='goToNextStep()') Skip
            li#url-instruction
                div.instruction-color-indicator(style='background-color: blue;')
                | Select the element that links to that post
                button.skip-button(onclick='goToNextStep()') Skip
            li#content-instruction
                div.instruction-color-indicator(style='background-color: yellow;')
                | Select the post content
                button.skip-button(onclick='goToNextStep()') Skip
            li#date-instruction
                div.instruction-color-indicator(style='background-color: orange;')
                | Select the post date
                button.skip-button(onclick='goToNextStep()') Skip
            li#author-instruction
                div.instruction-color-indicator(style='background-color: purple;')
                | Select the post author
                button.skip-button(onclick='goToNextStep()') Skip
        p.selection-options(style="font-size: .8em; color: #424242; margin-left: 3em;")
            | Tips:
            ul(style="font-size: .8em; color: #424242;")
                li You can select elements by clicking on them. If you need to turn off element selection to click something like a cookie banner, click 
                    span.selector-toggle.active
                        include partials/icons/inspect-icon.pug
                    |  below
                li You can add regular expressions to your selectors in the Advanced section in the website settings
    br
    div.selector-toggle.active(style="display: flex; gap: .4em; margin-left: 40px; align-items: center; width: fit-content; font-size: .8rem;")
        include partials/icons/inspect-icon.pug
        span.selector-toggle-label Element selection active
    div.wizard-selector(style='margin-left: 40px;')
        div.website-config
            iframe#website-renderer(srcdoc=website.latest_html, style='height: 50vh; border: none; outline: 1px solid #d1d1d1;')
            form#post-selectors(action=`/api/v1/website/${website.id}/wizard`, method='post', target='posts-renderer', oninput='updateResultingPosts()', style="display: flex; flex-direction: column;")
                label(for='post_selector') Post selector
                input#post_selector(type='text', name='post_selector', placeholder='CSS Post selector', autocomplete="off")
                label(for='title_selector') Title selector
                input#title_selector(type='text', name='title_selector', placeholder='CSS Title selector', autocomplete="off")
                label(for='url_selector') URL selector
                input#url_selector(type='text', name='url_selector', placeholder='CSS URL selector', autocomplete="off")
                label(for='content_selector') Content selector
                input#content_selector(type='text', name='content_selector', placeholder='CSS Content selector', autocomplete="off")
                label(for='date_selector') Date selector
                input#date_selector(type='text', name='date_selector', placeholder='CSS Date selector', autocomplete="off")
                label(for='author_selector') Author selector
                input#author_selector(type='text', name='author_selector', placeholder='CSS Author selector', autocomplete="off")
                label(for='date_regex') Date regex
                input#date_regex(type='text', name='date_regex', placeholder='Date regex', autocomplete="off")
                label(for='author_regex') Author regex
                input#author_regex(type='text', name='author_regex', placeholder='Author regex', autocomplete="off")
        div#post-renderer
    script.
        let selectedElementPaths = {
            title_selector: null,
            url_selector: null,
            content_selector: null,
            date_selector: null,
            author_selector: null
        }
        const WIZARD_ERRORS = {
            //- SELECTION_OUTSIDE_PARENT: "SELECTION_OUTSIDE_PARENT",
            INVALID_URL_SELECTION: "INVALID_URL_SELECTION"
        }
        const selectionClassNames = [
            //- "post-selection-container",
            "title-selection-container",
            "url-selection-container",
            "content-selection-container",
            "date-selection-container",
            "author-selection-container"
        ]

        let currentStep = 0;
        let blockClickEvents = true;

        const steps = document.querySelectorAll('.wizard-instructions li');
        steps[currentStep].classList.add('active');

        function restart() {
            currentStep = 0;
            steps[currentStep].classList.add('active');
            document.getElementById("wizard-message").innerHTML = "Say hello to the website wizard! You may have landed here because we were unable to analyse your chosen website. Please help us by following the instructions below:";
            document.querySelectorAll(".website-config input").forEach(input => input.value = '');
            document.getElementById("post-renderer").innerHTML = '';

            document.getElementById("website-renderer").contentWindow.document.querySelectorAll('.post-selection-container').forEach(element => {
                element.classList.remove('post-selection-container');
            });

            document.getElementById("website-renderer").contentWindow.document.querySelectorAll('.title-selection-container').forEach(element => {
                element.classList.remove('title-selection-container');
            });

            document.getElementById("website-renderer").contentWindow.document.querySelectorAll('.url-selection-container').forEach(element => {
                element.classList.remove('url-selection-container');
            });

            document.getElementById("website-renderer").contentWindow.document.querySelectorAll('.content-selection-container').forEach(element => {
                element.classList.remove('content-selection-container');
            });

            document.getElementById("website-renderer").contentWindow.document.querySelectorAll('.date-selection-container').forEach(element => {
                element.classList.remove('date-selection-container');
            });

            document.getElementById("website-renderer").contentWindow.document.querySelectorAll('.author-selection-container').forEach(element => {
                element.classList.remove('author-selection-container');
            });

            steps.forEach(step => {
                step.classList.remove('selectable');
            })

            selectedElementPaths = {
                title_selector: null,
                url_selector: null,
                content_selector: null,
                date_selector: null,
                author_selector: null
            }
            
            setHoverSelectionBorderColor(currentStep);
        }
        function goToNextStep() {
            // Move to the next step
            steps[currentStep].classList.remove('active');
            currentStep += 1;

            // Check if the wizard is done
            if (currentStep >= steps.length) {
                currentStep = -1;
                document.querySelector("#wizard-message").innerHTML = "Done! Are you happy with the results? <button onclick='saveAndQuit()'>Yes! Save and quit</button> <button onclick='restart()'>Restart</button>";
            } else {
                steps[currentStep].classList.add('active');
            }
            
            setHoverSelectionBorderColor(currentStep);
        }
        function goToStep(step) {
            if (typeof step !== 'number') {
                console.error('Step must be a number');
                return;
            };
            if (currentStep >= 0 & currentStep < steps.length) {
                steps[currentStep].classList.remove('active');
            };
            currentStep = step;
            steps[currentStep].classList.add('active');

            setHoverSelectionBorderColor(currentStep);

            document.querySelectorAll(".website-config input")[currentStep + 1].value = '';
            updateResultingPosts()
        }
        function setHoverSelectionBorderColor(step) {
            if (typeof step !== 'number') {
                console.error('Step must be a number');
                return;
            };

            const borderColors = [
                //- "#00000069",
                "green",
                "blue",
                "yellow",
                "orange",
                "purple"
            ];
            const css = `
                .selection-mode-active:has(.post-selection-container) *:hover:not(:has(*:hover)) {
                    outline: none;
                }
                .selection-mode-active:has(.post-selection-container) .post-selection-container *:hover:not(:has(*:hover)) {
                    outline: 2px solid ${borderColors[step]};
                }
                `;
            const style = document.createElement('style');
            style.appendChild(document.createTextNode(css));

            document.getElementById("website-renderer").contentWindow.document.head.appendChild(style);

        }

        function updateResultingPosts() {
            document.querySelector("#post-renderer").innerHTML = '<div class="loading-spinner"></div>';

            const postSelectors = Object.fromEntries(new FormData(document.getElementById('post-selectors')))

            if (Object.values(postSelectors).every(value => !value)) {
                document.querySelector("#post-renderer").innerHTML = '';
                return;
            }

            const websiteIdRegex = window.location.href.match(/website\/(.*?)\//);

            if (websiteIdRegex) {
                const websiteId = websiteIdRegex[1];
                fetch(`/api/v1/website/${websiteId}/wizard`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(postSelectors)
                })
                .then(response => response.text()) // Assuming the response is text
                .then(data => {
                    // treat data as html and check if #new-date-regext and #new-author-regex exist
                    const parser = new DOMParser();
                    const htmlDocument = parser.parseFromString(data, 'text/html');
                    const newDateRegex = htmlDocument.querySelector('#new-date-regex');
                    const newAuthorRegex = htmlDocument.querySelector('#new-author-regex');

                    if (newDateRegex) {
                        document.getElementById('date_regex').value = newDateRegex.textContent;
                    }
                    if (newAuthorRegex) {
                        document.getElementById('author_regex').value = newAuthorRegex.textContent;
                    }
                    // Display the response in the container of your choice
                    document.getElementById('post-renderer').innerHTML = data;
                })
                .catch(error => console.error('Error:', error));
            }
        }

        function saveAndQuit() {
            const postSelectors = Object.fromEntries(new FormData(document.getElementById('post-selectors')))
            const websiteIdRegex = window.location.href.match(/website\/(.*?)\//);

            if (websiteIdRegex) {
                const websiteId = websiteIdRegex[1];
                fetch(`/api/v1/website/${websiteId}`, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(postSelectors)
                })
                .then(response => {
                    window.location.href = response.url;
                })
                //- .then(response => response.text()) // Assuming the response is text
                //- .then(data => {
                //-     // Display the response in the container of your choice
                //-     document.getElementById('post-renderer').innerHTML = data;
                //- })
                .catch(error => console.error('Error:', error));
            }
        }

        // if iframe ready set selection border color
        document.getElementById("website-renderer").addEventListener('load', () => {
            setHoverSelectionBorderColor(currentStep);
        });


        // Create Element Selector toggles
        const elementSelectorToggles = document.querySelectorAll(".selector-toggle");
        elementSelectorToggles.forEach(element => {
            element.addEventListener('click', () => {
                document.getElementById("website-renderer").contentWindow.postMessage("toggleClickEvents", window.location.origin);
                blockClickEvents = !blockClickEvents;
                elementSelectorToggles.forEach(elementSelectorToggle => {
                    elementSelectorToggle.classList.toggle('active');
                });
                if (!blockClickEvents) document.querySelector(".selector-toggle span.selector-toggle-label").innerHTML = "Element selection off";
                if (blockClickEvents) document.querySelector(".selector-toggle span.selector-toggle-label").innerHTML = "Element selection active";
            });
        });
        
        

        // Make wizard steps clickable
        steps.forEach(step => {
            step.addEventListener('click', (e) => {
                if (e.target.classList.contains('selectable') && !e.target.classList.contains('active')) {
                    const index = Array.from(steps).indexOf(e.target);

                    if (currentStep >= 0 && currentStep < steps.length - 1) steps[currentStep].classList.remove('active');

                    if (index === 0) {
                        restart();
                    }
                    
                    goToStep(index);
                    steps[currentStep].classList.add('active');

                    document.getElementById("website-renderer").contentWindow.document.querySelectorAll(`.${selectionClassNames[currentStep]}`).forEach(element => {
                        element.classList.remove(selectionClassNames[currentStep]);
                    });
                }
            });
        });

        function createWizardMessage(message) {
            document.getElementById("wizard-message").innerHTML = message;
            document.getElementById("wizard-header").animate(
                [
                    { 
                        backgroundColor: 'rgb(100	200	148)',
                        boxShadow: 'inset 0px 0px 43px 0px rgba(255,255,255,1)'
                    },
                    { 
                        backgroundColor: 'transparent',
                        boxShadow: 'inset 0px 0px 43px 0px rgba(255,255,255,1)'
                    },
                    //- { background: 'radial-gradient(circle, rgba(228,176,30,1) 0%, rgba(255,255,255,1) 100%)' },
                    //- { background: 'radial-gradient(circle, rgba(228,176,30,0) 0%, rgba(255,255,255,0) 100%)' },
                    //- { backgroundColor: 'red;' },
                    //- { backgroundColor: 'white;' },
                ], {
                    duration: 1000,
                    iterations: 1
                }
            );
        }
        function createWizardError(errorMessage) {
            document.getElementById("wizard-message").innerHTML = `<span id='wizard-error'>${errorMessage}</span>`;
            document.getElementById("wizard-header").animate(
                [
                    { 
                        backgroundColor: 'rgb(248	112	99)',
                        boxShadow: 'inset 0px 0px 43px 0px rgba(255,255,255,1)'
                    },
                    { 
                        backgroundColor: 'transparent',
                        boxShadow: 'inset 0px 0px 43px 0px rgba(255,255,255,1)'
                    },
                    //- { background: 'radial-gradient(circle, rgba(228,176,30,1) 0%, rgba(255,255,255,1) 100%)' },
                    //- { background: 'radial-gradient(circle, rgba(228,176,30,0) 0%, rgba(255,255,255,0) 100%)' },
                    //- { backgroundColor: 'red;' },
                    //- { backgroundColor: 'white;' },
                ], {
                    duration: 1000,
                    iterations: 1
                }
            );
        }

        function cleanSelectorPath(selectorPath) {
            return selectorPath.trim().replace(/>$/g, '').trim();
        }

        // React to selected elements
        window.addEventListener('message', (e) => {
            if (!e.origin === window.location.origin) return;
            if (!blockClickEvents) return;

            //- if (e.data.wizardError === WIZARD_ERRORS.SELECTION_OUTSIDE_PARENT) {
            //-     createWizardError("Please select an element inside the post!");
            //- }


            if (e.data.selectedElementPath) {
                if (currentStep === -1) return;

                let selectedElementPath = e.data.selectedElementPath;

                // if selected element doesnt begin with html tag, add it
                //- if (!selectedElementPath.startsWith('html') && !selectedElementPath.startsWith('body')) {
                //-     selectedElementPath = 'html body ' + selectedElementPath;
                //- } else if (selectedElementPath.startsWith('body')) {
                //-     selectedElementPath = 'html ' + selectedElementPath;
                //- }

                let selectedElement = document.getElementById("website-renderer").contentWindow.document.querySelector(selectedElementPath)

                selectedElement.classList.add(selectionClassNames[currentStep]);

                // If post is being selected
                //- if (currentStep === 0) {
                //-     document.getElementById("post_selector").value = selectedElementPath;

                //-     goToNextStep();

                    steps.forEach(step => {
                        step.classList.add('selectable');
                    });

                //-     document.getElementById("wizard-message").innerHTML = "Great! Make sure your post selection contains the whole post. If it doesn't, click the first step to retry.";
                //-     return;
                //- } else 
                if (currentStep === 0) {
                    steps.forEach(step => {
                        step.classList.add('selectable');
                    });

                    createWizardMessage("Great! A list of post titles should appear next to the page. If they don't, perhaps try another by clicking on step 1!");
                }

                if (currentStep === 1) { // If URL is being selected
                    // Send wizard error if the selected element path does not contain an anchor tag
                    if (!selectedElement.closest('a')) {
                        createWizardError("Please select an element that links to the post!");
                        return;
                    } else {
                        // set selected element to the anchor tag
                        selectedElement = selectedElement.closest('a');
                    }
                } else { // 
                    // Send wizard error if the selected element does not include text
                    if (!selectedElement.innerText) {
                        createWizardError("Please select an element that contains text!");
                        return;
                    }
                }

                // Get the selected element path
                const postContainerElementPath = document.getElementById("post_selector").value;
                const selectorToBeSet = document.querySelectorAll(".website-config input")[currentStep + 1].id;

                selectedElementPath = cleanSelectorPath(selectedElementPath);


                selectedElementPaths[selectorToBeSet] = selectedElementPath

                function sharedStart(array){
                    if (array.length === 0) return '';
                    if (array.length === 1) return array[0];
                    var A= array.filter(el=>el).concat().sort(), 
                    a1= A[0], a2= A[A.length-1], L= a1.length, i= 0;
                    while(i<L && a1.charAt(i)=== a2.charAt(i)) i++;
                    return a1.substring(0, i);
                }

                const nonNullSelectedElements = Object.fromEntries(Object.entries(selectedElementPaths).filter(([key, value]) => value).map(([key, value]) => [key, value]));

                let postSelector = "";

                if (Object.entries(nonNullSelectedElements).length === 1) {
                    const selectedElementParentTagName = document.getElementById("website-renderer").contentWindow.document.querySelector(nonNullSelectedElements[selectorToBeSet]).parentElement.tagName.toLowerCase();
                    const selectedElementParentPath = cleanSelectorPath(nonNullSelectedElements[selectorToBeSet].slice(0, nonNullSelectedElements[selectorToBeSet].lastIndexOf(` ${selectedElementParentTagName}`) + 1))

                    postSelector = selectedElementParentPath;

                    document.querySelectorAll(".website-config input")[0].value = postSelector;
                    document.querySelectorAll(".website-config input")[currentStep + 1].value = cleanSelectorPath(nonNullSelectedElements[selectorToBeSet].replace(postSelector, ''));
                } else {
                    const greatestCommonStartSubstring = cleanSelectorPath(sharedStart(Object.values(nonNullSelectedElements)));


                    // select parent if greatestCommonStartSubstring the same length as all nonNullSelectedElements
                    let selectParent = Object.values(nonNullSelectedElements).every(el => el.length === greatestCommonStartSubstring.length);

                    if (selectParent) {
                        const greatestCommonParentTagName = document.getElementById("website-renderer").contentWindow.document.querySelector(greatestCommonStartSubstring).parentElement.tagName.toLowerCase();
                        const greatestCommonParentPath = greatestCommonStartSubstring.slice(0, greatestCommonStartSubstring.lastIndexOf(` ${greatestCommonParentTagName}`)) + ` ${greatestCommonParentTagName}`
                        postSelector = greatestCommonParentPath;
                    } else {
                        postSelector = greatestCommonStartSubstring;
                    }

                    document.querySelectorAll(".website-config input")[0].value = postSelector;
                    
                    Object.entries(nonNullSelectedElements).map(([key, value]) => {
                        if (!value) return;
                        let newRelativeSelector = cleanSelectorPath(value.replace(postSelector, ''));
                        if (key === 'url_selector' && newRelativeSelector.includes(" a")) {
                            const indexOfA = newRelativeSelector.lastIndexOf(" a");
                            newRelativeSelector = cleanSelectorPath(newRelativeSelector.slice(0, indexOfA + 1 ) + "a[href]");
                        }
                        document.querySelector(`.website-config input#${key}`).value = newRelativeSelector;
                    });
                }

                goToNextStep();

                updateResultingPosts();
            }
        }, false);


