extends layout

block variables
  - const websiteTitle = website.url.match(/https?:\/\/w*\.?([^\/?\#]+)/)[1]
  - const title = `${websiteTitle} | ${feed.title}`

block layout-content
    section.website-header(style="margin-bottom: 3em;")
        a.back-link(href=`/feed/${feed.id}`) &#8592; Back to feed
        img(src=website.favicon_url, alt=websiteTitle, style='width: 1em; height: 1em; vertical-align: middle; margin-right: .5em;')
        h2 #{websiteTitle}
        form.edit-website-url(action=`/api/v1/website/${website.id}`, method='post')
            div.url-container
                script.
                    function onURLInput(e) {
                        console.log(this.value)
                        document.getElementById("hidden-url-container").innerHTML =  e.target.value;
                    }
                input.url-input(
                    type='text', 
                    name='url', 
                    placeholder='Edit website url',
                    oninput='onURLInput()'
                    autocomplete='url'
                    value=website.url
                )
                div#hidden-url-container #{feed.url}
                script.
                    document.getElementById("hidden-url-container").innerHTML = document.querySelector(".url-input").value;
            input(type='text', name='feedId', hidden, value=feed.id)
            input(
                type='submit', 
                value='Edit', 
            )
        a(href=`/website/${website.id}/wizard`) 🪄 Wizard
        details
            summary Advanced settings
            form.edit-website-selectors(action=`/api/v1/website/${website.id}`, method='post')
                label(for='post_selector') Post selector
                input.post_selector(
                    type='text', 
                    name='post_selector', 
                    placeholder='CSS Post selector',
                    value=website.post_selector
                )
                label(for='title_selector') Title selector
                input.title_selector(
                    type='text', 
                    name='title_selector', 
                    placeholder='CSS Title selector',
                    value=website.title_selector
                )
                label(for='url_selector') URL selector
                input.url_selector(
                    type='text', 
                    name='url_selector', 
                    placeholder='CSS URL selector',
                    value=website.url_selector
                )
                label(for='date_selector') Date selector
                input.date_selector(
                    type='text', 
                    name='date_selector', 
                    placeholder='CSS Date selector',
                    value=website.date_selector
                )
                label(for='content_selector') Content selector
                input.content_selector(
                    type='text', 
                    name='content_selector', 
                    placeholder='CSS Content selector',
                    value=website.content_selector
                )
                label(for='author_selector') Author selector
                input.author_selector(
                    type='text', 
                    name='author_selector', 
                    placeholder='CSS Author selector',
                    value=website.author_selector
                )
                input(
                    type='submit', 
                    value='Edit', 
                )
    section.posts
        article.post.post-header
            ul
                li.post-date.post-column-header
                    span='Date'
                li.post-title.post-column-header
                    span='Title'
                li.post-author.post-column-header
                    span='Author'
                li.post-content.post-column-header
                    span='Content'
        for post in posts
            article.post
                a.hidden-link(href=post.url, aria-hidden='true')
                ul
                    li.post-date
                        if post.date
                            span=post.date
                        else
                            span='-'
                    li.post-title
                        a.link(href=post.url)
                            h3=post.title
                    li.post-author
                        span= post.author
                    li.post-content
                        span= post.content